.container {
    width: 100vw;
    height: 100vh;
}

.text {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #888888;
    margin-bottom: 10%;
}

.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 100vh;
}

.title {
    font-family: 'Mulish';
    font-size: 48px;
    color: #FF7B00;
    margin-bottom: 10%;
}

.container {
    width: 100vw;
    height: 100vh;
}

.box {
    width: 25vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10vw;
}

.btn {
    width: 250px;
    height: 50px;
    background: #F6A413;
    border-radius: 10px;
    font-family: 'Mulish';
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    transition: all .5s ease;
    cursor: pointer;
    margin-top: 5%;
}

.btn.delined {
    background: none;
    color: #000000;
}

.btn.delined:hover{
    background: #00000050;
    border: 1px solid #464646;
    color: #fff;
}

.btn:hover {
    opacity: 75%;
}

.input {
    width: 340px;
    height: 50px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.45);
    background: #F5F5F4;
    border: 8px;
    margin: 2%;
    padding: 1%;
    text-align: center;
    font-size: 18px;
    border-radius: 8px;
    margin-bottom: 10%;
}

.input:focus {
    border: solid rgb(197, 197, 197) 1px;
    transition: all .3s ease-out;
}

.input::placeholder {
    font-size: 18px;
    opacity: 50%;
}

.copyright {
    position: absolute;
    bottom: 5vh;
    font-family: 'Mulish';
    font-weight: 400;
    font-size: 18px;
}

.ilus_bg {
    position: absolute;
    right: 0;
    height: 100vh;
    width: 50vw;
    object-fit: cover ;
    z-index: -1;
}

.ilus {
    width: 600px;
    height: 490px;
    margin: 50vh 5vw 0;
    transform: translateY(-50%)
}