@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700&display=swap');

.container {
    width: 100vw;
    height: 100vh;
}

.p {
    font-family: 'Baloo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 40px;
    color: #6C6C6C;
    margin: 15vh auto;
    width: 40ch;
}

.bold {
    font-family: 'Baloo 2';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    color: rgba(31, 13, 0, 0.89);
}

.main {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}


.btn {
    position: absolute;
    bottom: 10vh;
    left: 45vw;
    width: 150px;
    height: 50px;
    font-weight: 600;
    border: none;
    background: #EFBA6D;
    border-radius: 10px;
    cursor: pointer;
    transition: all .3s ease-out;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.2));
}

.btn:hover {
    background: #e2b168;
}

.btn:active {
    transform: translateY(3px);
    filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.2));
}

.bg {
    position: absolute;
    top: 0;
    width: 100vw;
    z-index: -1;
}


.card_Group {
    display: flex;
    justify-content: space-around;
    width: 80%;
    height: 50vh;
    margin: -4% auto;
}

.card {
    width: 330px;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    color: white;
    border-radius: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s ease;
}

.card:hover {
    margin-top: -1%;
    cursor: pointer;
}

.text {
    font-size: 30px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    margin: 1%;
}

.plus {
    width: 55px;
    height: 55px;
}