.container {
  width: 100vw;
  height: 100vh;
}

.main {
  width: 80%;
  height: 88%;
  margin: 0.5% auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.main span:nth-child(1){
  margin-top: 5%;
}

.main h2 {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 600;
  font-size: 1.5vw;
}

.main h2 span {
  color: #7435dc;
}

.main h3 {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 600;
  opacity: 0.5;
  font-size: 1vw;
  text-align: center;
  margin-top: 1%;
}
