.container {
    width: 100vw;
    height: 100vh;
}

.main {
    width: 80%;
    height: 88%;
    margin: .5% auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main h2:first-child {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    font-size: 1.5vw;
}

.cardGroup {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2% 1% 0 1%;
}

.cardGroup .row4 {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2%;
}

.cardGroup .row4:last-child {
    margin-bottom: 0%;
}

.cardGroup::-webkit-scrollbar {
    border-radius: 20px;
    height: 2vh;
    margin-left: 6%;
}

.cardGroup::-webkit-scrollbar-track {
    background: rgba(217, 217, 217, 0.5);
    border-radius: .5vw;
}

.cardGroup::-webkit-scrollbar-thumb {
    background: #B8B8B8;
    border-radius: 1vw;
}

.cardGroup .card {
    width: 20%;
    height: 90%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgba(217, 217, 217, 0.4);
    border-radius: .5vw;
    cursor: pointer;
    transition: all .5s ease;
}

.cardGroup .card:hover {
    margin-top: -.5%;
    background-color: rgba(217, 217, 217, .9);
    box-shadow: 0 0 1vw rgba(0, 0, 0, .2);
}

.cardGroup .card .name {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    font-size: 1vw;
    margin-top: 2%;
}

.cardGroup .card .username {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 500;
    font-size: .9vw;
    text-align: center;
    color: #6D6D6D;
    margin-top: 1%;
}

.cardGroup .card .profile {
    margin-top: 1%;
    width: 60%;
    height: 50%;
    border-radius: 100vw;
    object-fit: cover;
}

.cardGroup .card .bio {
    font-weight: 600;
    font-family: 'Mulish';
    text-align: justify;
    width: 95%;
    height: 11ch;
    margin-top: 2%;
    font-size: .8vw;
    line-height: 2.1vh;
    color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

@media (min-width: 1920px) {
    .main {
        width: 70%;
        height: 80%;
        margin: 1.5% auto;
    }

    .cardGroup .card {
        width: 21%;
        height: 95%;
    }
    
    .cardGroup .card .bio {
        font-size: .75vw;
        height: 12ch;
    }
}