.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 100vh;
}

.title {
    font-family: 'Mulish';
    font-size: 48px;
    padding-bottom: 5%;
}

.container {
    width: 100vw;
    height: 100vh;
}

.box {
    width: 25vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10vw;
}

.btn {
    width: 340px;
    height: 50px;
    background: #F6A413;
    border-radius: 10px;
    font-family: 'Mulish';
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    transition: all .5s ease;
    cursor: pointer;
    margin-top: 5%;
}

.btn:hover {
    opacity: 75%;
}

.input {
    width: 340px;
    height: 50px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.45);
    background: #F5F5F4;
    border: 8px;
    margin: 2%;
    padding: 1%;
    text-align: center;
    font-size: 18px;
    border-radius: 8px;
}

.input:focus {
    border: solid rgb(197, 197, 197) 1px;
    transition: all .3s ease-out;
}

.input::placeholder {
    font-size: 18px;
    opacity: 50%;
}

.sub {
    font-family: 'Mulish';
    font-weight: 400;
    font-size: 18px;
    cursor: pointer;
    transition: all .5s ease;
    padding-top: 1%;
    padding-bottom: 8%;
}

.sub:hover {
    opacity: 50%;
}

.copyright {
    position: absolute;
    top: 70vh;
    font-family: 'Mulish';
    font-weight: 400;
    font-size: 18px;
}

.ilus_bg {
    position: absolute;
    left: 0;
    height: 100vh;
    width: 50vw;
    object-fit: cover ;
    z-index: -1;
}

.ilus {
    width: 600px;
    height: 490px;
    margin: 50vh 5vw 0;
    transform: translateY(-50%)
}

/* Celular */

@media (max-width: 425px){
    .main {
        display: flex;
        flex-wrap: wrap;
        width: 100vw;
        height: 100vh;
    }
    
    .box {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        margin: 0 auto;
    }
 
    .copyright{
        display: none;
    }
 
    .ilus_bg {
        display: none;
    }
 
    .ilus {
     display: none;
    }
 }