@import url('https://fonts.googleapis.com/css?family=Mulish');

.container {
    width: 100vw;
    height: 100vh;
}

.main {
    display: flex;
    justify-content: space-around;
}

.left,
.right {
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input {
    width: 300px;
    height: 40px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.45);
    background: #F5F5F4;
    border: 8px;
    margin: 1.2%;
    padding: 1%;
    text-align: center;
    font-size: 18px;
    border-radius: 8px;
}

.input:focus {
    border: solid rgb(197, 197, 197) 1px;
    transition: all .3s ease-out;
}

.input::placeholder {
    font-size: 18px;
    opacity: 50%;
}

.btn {
    width: 140px;
    height: 40px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #000;
    margin-top: 2%;
    background: #EFBA6D;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    transition: all .3s ease-out;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.2));
}

.btn:hover {
    background: #e2b168;
}

.btn:active{
    transform: translateY(3px);
    filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.2));
}

.title {
    font-size: 48px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    text-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
}

.link {
    margin-top: 1%;
    font-size: 13px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    color: #484848;
    transition: all .3s ease-out;
}

.link:hover {
    color: #a3a3a3;
}

.copyright {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    position: absolute;
    bottom: 5vh;
}

.ilus {
    width: 25vw;
}

.background {
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 50%;
    object-fit: cover;
    right: 0;
}