.container {
    width: 100vw;
    height: 100vh;
}

.main {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.bg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}

.title {
    width: 80%;
    font-family: 'Baloo 2';
    font-weight: 400;
    font-size: 5vw;
    color: #5A3612;
}

.title span {
    letter-spacing: 0.02vw;
    background: linear-gradient(89.78deg, #FF8200 5.2%, #fae719 99.72%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.arrow {
    position: absolute;
    color: #333333;
    left: 3vw;
    top: 2vw;
    width: 4vw;
    height: 8vh;
    cursor: pointer;
    transition: all .5s ease;
}

.arrow:hover {
    transform: scale(1.1);
    left: 2vw;
}

.card_group {
    width: 80vw;
    height: 60vh;
    border-radius: .5vw;
    overflow-x: scroll;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    scroll-snap-type: x mandatory;
}

.card {
    width: 20vw;
    min-width: 20vw;
    height: 90%;
    border-radius: 1vw;
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card_group::-webkit-scrollbar {
    border-radius: 20px;
    height: 2vh;
}

.card_group::-webkit-scrollbar-track {
    background: #cecbc7;
    border-radius: .5vw;
}

.card_group::-webkit-scrollbar-thumb {
    background: #FDB422;
    border-radius: 1vw;
}

.card img {
    width: 25vw;
    height: 25vh;
}

.card h2 {
    font-family: 'Mulish';
    font-weight: 400;
    font-size: 1.3vw;
}

.card h3 {
    font-family: 'Mulish';
    font-weight: 400;
    font-size: 1.2vw;
    color: rgba(0, 0, 0, 0.5);
}

.card p {
    font-family: 'Mulish';
    text-align: justify;
    font-weight: 400;
    font-size: 1.25vw;
    border-radius: .5vw;
    color: #585757;
    overflow: hidden;
}

.card:first-child{
    margin-left: 65%;
}

.card:not(:first-child){
    margin-left: 10%;
}
