.modal {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 2;
    background: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Mulish';
}

.left,
.right {
    box-shadow: 0px 0.1vw 1vw rgba(255, 255, 255, 0.25);
    background: #fefefe;
    width: 30%;
    height: 65%;
    border-radius: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left .ilus {
    width: 20vw;
    height: 30vh;
}

.left h2 {
    width: 80%;
    text-align: justify;
    font-size: .9vw;
    line-height: 2.5vh;
    text-shadow: 0px .03vw .09vw rgba(0, 0, 0, 0.25);
    margin-bottom: 5%;
}

.left h3 {
    width: 80%;
    line-height: 2.5vh;
    text-align: justify;
    font-weight: 300;
    font-size: .9vw;
}

.left h3 span {
    font-weight: 800;
}

.right span:first-child {
    width: 65%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.right span:first-child p {
    font-family: 'Mulish';
    font-weight: 600;
    font-size: 1vw;
    margin: 1%;
    width: 100%;
    margin-bottom: 5%;
    margin-top: 5%;
}

.right span:first-child input {
    width: 80%;
    height: 14%;
    border-radius: .3vw;
    font-size: .9vw;
    padding-left: 2.5%;
    padding-right: 2.5%;
    background: #E7E7E7;
}

.right span:last-child {
    display: flex;
    justify-content: space-around;
    width: 60%;
    height: 15%;
}

.right span:last-child button {
    border-radius: .5vw;
    width: 40%;
    height: 50%;
    margin-top: 20%;
    cursor: pointer;
    font-size: .8vw;
    font-weight: 400;
    color: white;
    background: #F6A413;
    transition: all .5s ease;
}

.right span:last-child button:first-child {
    background: none;
    color: #000;
}

.right span:last-child button:hover {
    margin-top: 18%;
    transform: scale(1.05);
}

.right span:last-child button:nth-child(1):hover {
    background: rgba(0, 0, 0, 0.25);
    border: .01vw solid rgba(0, 0, 0, 0.3);
    color: #fff;
}