.modal {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .3);
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.blur {
    backdrop-filter: blur(.3vw);
    background: rgba(0, 0, 0, .5);
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -1;
}

.left,
.right {
    box-shadow: 0px 0 1vw rgba(255, 255, 255, 0.25);
}

.left {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 30%;
    height: 75%;
    border-radius: .5vw;
    background: #f3f3f3;
}

.left h2 {
    font-family: 'Mulish';
    font-weight: 600;
    width: 80%;
    font-size: 1.6vw;
    margin-top: 5%;
    color: #000000;
}

.left h3 {
    font-family: 'Mulish';
    font-weight: 500;
    margin-top: 5%;
    font-size: 1.4vw;
    color: rgba(0, 0, 0, 0.5);
}

.left h3:last-child {
    font-size: 1.3vw;
}


.left span .account_icon {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100vw;
    color: #000000;
    transition: all .5s ease;
}

.left span .default_account_icon {
    width: 130%;
    height: 130%;
    object-fit: cover;
    border-radius: 100vw;
    color: #000000;
    cursor: default;
    transition: all .5s ease;
}

.left .icon_edit {
    opacity: 0;
    color: #000000;
    position: absolute;
    width: 7%;
    height: 14%;
    z-index: 2;
    cursor: pointer;
    transition: all .5s ease;
}

.left span:hover>.icon_edit {
    margin-top: -2%;
    opacity: 1;
    transform: scale(1.01);
    color: #f3f3f3;
}

.left span:hover>.account_icon,
.left span:hover>.default_account_icon {
    margin-top: -6%;
    transform: scale(1.01);
}

.left span {
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 100vw;
    cursor: pointer;
    width: 65%;
    height: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.left .blur {
    background: rgb(0, 0, 0, .3);
    z-index: 1;
    position: relative;
    opacity: 0;
    filter: blur(.1vw);
    width: 103%;
    height: 103%;
    margin-top: -100%;
    transition: all .5s ease;
}

.left span:hover>.blur {
    opacity: 1;
}

.left span input[type='file'] {
    opacity: 0;
    border-radius: 100vw;
    cursor: pointer;
    left: 14.5vw;
    width: 16%;
    height: 35%;
    position: absolute;
}

.right {
    display: flex;
    align-items: center;
    width: 50%;
    margin-left: 5%;
    height: 75%;
    border-radius: .5vw;
    background: #f3f3f3;
}

.right span:nth-child(1) {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 60%;
    margin-left: 10%;
}

.right span p {
    font-size: 1.2vw;
    font-family: 'Mulish';
    color: #5F5F5F;
}

.right span input {
    font-family: 'Mulish';
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: .3vw;
    width: 85%;
    height: 15%;
    background: #E7E7E7;
    color: #000;
    font-size: 1.1vw;
    padding-left: 1%;
    padding-right: 1%;
    margin: 1%;
    transition: all .5s ease;
}

.right span input:focus {
    transform: scale(1.04);
    box-shadow: 0 .1vh .3vw #00000050;
}

.right span input:not(:first-child) {
    margin-top: 5%;
}

.right span p:not(:first-child) {
    margin-top: 5%;
}


.right span input::placeholder {
    font-size: 1vw;
}

.right span:nth-child(2) {
    background: none;
    width: 45%;
    height: 60%;
    border: .15vw solid #E7E7E7;
    border-radius: .5vw;
}

.right span:nth-child(2) p {
    position: absolute;
    margin-top: -2%;
    font-size: 1.1vw;
}

.right span:nth-child(2) p:nth-child(2) {
    position: absolute;
    right: 10%;
    font-size: 1.1vw;
}

.right span:nth-child(2) textarea {
    resize: none;
    border-radius: .5vw;
    width: 90%;
    height: 90%;
    background: none;
    text-align: justify;
    font-size: 1.1vw;
    padding: 5%;
    font-family: 'Mulish';
    transition: all .4s ease;
}

.right span:nth-child(2) textarea:focus {
    transform: scale(1.02);
    background: #E7E7E7;
}

.right span:nth-child(3) {
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: .5vw;
    bottom: 15vh;
    right: 23vw;
    width: 20%;
    height: 10%;
}

.right span:nth-child(3) button:last-child {
    background: #F6A413;
    color: #fff;
    width: 45%;
    height: 60%;
    border-radius: .5vw;
    cursor: pointer;
    font-size: .9vw;
    transition: all .5s ease;
}

.right span:nth-child(3) button:last-child:hover {
    transform: scale(1.02);
    opacity: 70%;
    margin-top: -5%;
    transform: scale(1.05);
}

.right span:nth-child(3) button:first-child {
    background: none;
    color: #000;
    width: 45%;
    height: 60%;
    border-radius: .5vw;
    cursor: pointer;
    font-size: .9vw;
    transition: all .5s ease;
}

.right span:nth-child(3) button:first-child:hover {
    border: 0.5px solid #00000050;
    background: #00000050;
    margin-top: -5%;
    transform: scale(1.05);
    color: #fff;
}

/* Large desktop */

@media (min-width: 1920px) {
    .left {
        width: 25%;
        height: 60%;
    }

    .left h2 {
        font-size: 1.3vw;
    }

    .left h3 {
        font-size: 1.1vw;
    }

    .left h3:last-child {
        font-size: 1vw;
    }

    .left .icon_edit {
        width: 5%;
        height: 10%;
    }

    .right {
        width: 45%;
        height: 60%;
    }

    .right span p {
        font-size: 1vw;
    }

    .right span input {
        font-size: .9vw;
    }

    .right span:nth-child(2) textarea {
        font-size: 1vw;
    }

    .right span:nth-child(2) p {
        font-size: 1vw;
    }

    .right span:nth-child(2) p:nth-child(2) {
        font-size: 1vw;
        right: 15%;
    }

    .right span:nth-child(3) {
        bottom: 23vh;
        right: 25vw;
    }

    .right span:nth-child(3) button:last-child {
        font-size: .8vw;
    }

    .right span:nth-child(3) button:first-child {
        font-size: .8vw;
    }
}