.navigation {
    position: absolute;
    z-index: 5;
    width: 2%;
    height: 20%;
    transform: translateY(-50%);
    top: 50%;
    left: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.navigation ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.navigation ul li .icon {
    width: 100%;
    height: 100%;
    color: #595555;
    cursor: pointer;
    transition: all .3s ease;
}

.navigation ul li.active .icon{
    color: #FF6B00;
}

.navigation .icon:hover {
    color: #FF6B00;
}
