.icon {
    width: 40px;
    height: 40px;
}

.box {
    position: absolute;
    font-family: 'Mulish';
    font-weight: 700;
    font-size: .3em;
    right: 2vw;
    top: 2vh;
    text-align: center;
    cursor: pointer;
    transition: all .5s ease;
}

.box:hover {
    opacity: 50%;
}