.icon {
    width: 35px;
    height: 35px;
}

.box {
    position: absolute;
    font-family: 'Mulish';
    font-weight: 700;
    font-size: .3em;
    right: 15px;
    top: 15px;
    text-align: center;
    cursor: pointer;
}

.box:hover {
    opacity: 60%;
}